/* Global CSS */
* {
  scroll-margin-top: 125px;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-weight: 300;
  font-size: 14px;
  color: black;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.container {
  padding-inline: 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-inline: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-inline: 76px;
  }
}


.button--green {
  border-radius: 2px;
  padding: 8px 12px;
  background-color: #5cb85f;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

section {
  margin-block: 60px;
}

@media only screen and (min-width: 768px) {
  section {
    margin-block: 100px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}

.section__sub-title {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 16px;
}

.card {
  border-radius: 8px;
}

/* Navigation */

.navbar {
  background-color: #f1f3ff;
  padding-block: 24px;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 16px;
}

.offcanvas.offcanvas-end {
  width: 180px;
}

.offcanvas-title {
  font-size: 16px;
  font-weight: 700;
}

.offcanvas-header {
  margin-top: 15px;
  padding-bottom: 0;
}

.nav-link {
  font-weight: 400;
  font-size: 14px;
  color: black;
  padding: 0;
}

@media only screen and (min-width: 1200px) {
  .navbar-nav {
    align-items: center;
  }

  .nav-item {
    margin-bottom: 0px;
    margin-left: 32px;
  }
}

/* Hero */
.hero {
  background-color: #f1f3ff;
  padding-top: 90px;
}

.hero .container-fluid .row div:nth-child(2){
  padding-inline: 16px 0px;
}

.hero .container-fluid .row div:first-child{
  padding-inline: 16px;
}

.hero h1,
.hero p {
  margin-bottom: 16px;
}

.hero h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;;
}

.hero a {
  margin-bottom: 24px;
}

.hero img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 100px;
  }

  .hero .row .col-md-6:first-child {
    padding-left: 60px;
  }

  .hero .container-fluid .row div:nth-child(2){
    padding-inline: 40px 0px;
  }

  .hero .container-fluid .row div:first-child{
    padding-inline: 40px;
  }
}


@media only screen and (min-width: 1200px) {

  .hero .container-fluid .row div:first-child{
    padding-left: 136px;
    padding-top: 75px;
  }

  .hero .container-fluid .row .col-lg-6 p{
    padding-right: 100px;
  }

}

/* Services */
.services .section__title {
  margin-bottom: 16px;

}

.services .section__sub-title {
  margin-bottom: 18px;
}



.services .section__image img {
  max-width: 100%;
}

.services .section__image {
  padding-inline: 54px;
  margin-bottom: 24px;
}

.services li {
  display: flex;
  margin-bottom: 20px;
}

.services li img {
  align-self: center;
  margin-right: 16px;
}

@media only screen and (min-width: 768px) {
  .services .section__image {
    justify-content: center;
  }

  .services .section__desc {
    padding-top: 46px;
    padding-left: 42px;
  }

  .services .section__image img {
    object-fit:scale-down;
  }
  
}


/* Why Us */


.why-us .section__title,
.why-us .section__sub-title{
  text-align: center;
}


.why-us .section__sub-title{
  margin-bottom: 24px;
}

.why-us .card{
  margin-bottom: 16px;
}

.why-us .card .card-body {
  padding: 24px;
}

.why-us .card .card-title {
  font-weight: 700;
  font-size: 16px;
  margin-block: 16px;
}

.why-us .col-md-3 {
  padding-inline: 10px;
}

@media only screen and (min-width: 768px) {
  
  .why-us .card{
    margin-bottom: 16px;
    min-height:195px;
  }
  
}

@media only screen and (min-width: 1200px) {
  
  .why-us .section__title,
.why-us .section__sub-title{
  text-align: left;
}
  
}

/* Testimony */
.testimony .container-fluid {
  padding-inline: 0;
}

.testimony .rating {
  justify-content: center;
  margin-block: 24px;
}

.testimony__carousel {
  margin-bottom: 16px;
}

.testimony__carousel .card {
  background-color: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.testimony__carousel .card-body {
  padding-block: 40px;
  padding-inline: 32px;;
}

.testimony__profile img {
  margin-inline: auto;
}

.testimony__text {
  margin-block: 8px;
}

.testimony__name {
  font-weight: 400;
}

.slider-prev {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  width: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.slider-next {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 12px;
}

.slider-prev:focus {
  background: #5cb85f;
  border: 1px solid #c4c4c4;
  width: 32px;
  border-radius: 50%;
  color: white;
}

.slider-next:focus {
  background: #5cb85f;
  border: 1px solid #c4c4c4;
  width: 32px;
  border-radius: 50%;
  color: white;
}

.slider-next i {
  font-weight: 400;
}

.slider-test {
  width: 90vw;
  margin-inline: 16px;
}

@media only screen and (min-width: 768px) {
  .slider-test {
    width: 500px;
    margin-inline: 16px;
  }

  .slider-test .rating{
    justify-content: start;
    margin-block: 0;
  }

  .slider-test .testimony__profile{
    display: flex;
    align-items: center;
  }
}


@media only screen and (min-width: 1200px) {

  .testimony__carousel .card-body {
    padding-block: 69px;
    padding-inline: 32px;;
  }

  .slider-test {
    width: 619px;
  }

}

/* Call To Action */

.call-to-action .card {
  background-color: #0d28a6;
}

.call-to-action .row {
  padding-inline: 10px;
}

.call-to-action .card .card-body {
  padding-block: 64px;
  padding-inline: 58px;
}

.call-to-action .card-title {
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin-bottom: 16px;
  line-height: 36px;;
}

.call-to-action .card-text {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 32px;
  padding-inline: 0px;
}

@media only screen and (min-width: 768px) {
  .call-to-action .card-text {
    padding-inline: 75px;
  }

}

@media only screen and (min-width: 1200px) {
  .call-to-action .card-text {
    padding-inline: 300px;
  }
}

/* FAQ */

.accordion-item {
  margin-bottom: 16px;
  border: none;
  border: 1px solid #D4D4D4;
  border-radius: 4px;

}



.FAQ .section__sub-title {
  margin-bottom: 24px;
}

.FAQ .accordion-button {
  padding-inline: 24px;
  font-size: 14px;
  font-weight: 300;
  gap:5px;
}

.accordion-button {
  border: 1px solid #D4D4D4;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .FAQ .col-lg-5{
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  .FAQ .col-lg-5{
    text-align: left;
  }
}


/* Footer */

.footer {
  margin-block: 60px;
}

.footer .address p {
  margin-bottom: 16px;
  /* margin-right: 86px; */
  width: 270px;
}

.footer .quick-access p {
  font-weight: 400;
  margin-bottom: 16px;
  /* margin-right: 86px; */
}

.footer .contact {
  /* margin-right: 130px; */
}

.footer .contact p {
  margin-bottom: 16px;
}

.footer .contact ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer .contact ul li {
  margin-right: 16px;
}

.footer .copyright p {
  margin-bottom: 16px;
}

  .footer .row>div {
    margin-bottom: 16px;
  }



